<header>
    <a href="/">MyBib</a>
    <div>
        <ul>
            <li><a href="/authors">authors</a></li>
            <li><a href="/authors/new">Add authors</a></li>
            <li><a href="/books">books</a></li>
            <li><a href="/books/new">Add books</a></li>
        </ul>
    </div>
    

</header>